img{
    width: 30%;
    height: 30%;
    margin-left: 35%;
}

hr{
    width: 30%;
}

menu{
    text-align: center;
}

h2{
    /* margin-left: %; */
    text-align: center;
}

ul{
    margin-left: 40%;
}